@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #000000;
  min-height: 1500px;
  scrollbar-width: none;
}

section {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


section img {
  position: absolute;
  top: 0;

  width: 100%;

  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 6em;
  z-index: 2;
}

#front {
  top: 0;
  z-index: 5;
}

#texto {
  top: 0;
  z-index: 6;
  mix-blend-mode: lighten;
}

#people {
  position: absolute;
  z-index: 4;
}

#forest {
  z-index: 6;
}

#mountain {
  z-index: 3;
}

#moon {
  width: 184px;
  height: 181px;
  right: 0;
  padding-right: 10%;
  padding-top: 5%;
  top: 5%;
  z-index: 6;
}

#back {
  top: 0;
  z-index: 1;
}

#bg {
  z-index: 2;
}

#indexbutton {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#indexbutton:hover {
  background-color: #000;
}

@media (max-width: 768px) {
  #moon {
    width: 120px;
    height: 118px;
  }
}

@media (max-width: 480px) {
  #moon {
    width: 80px;
    height: 79px;
  }
}