@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  background-color: black;
  color: white;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.column1 {
  flex: 25%;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  padding: 40px 20px;
}

#indexbutton {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#indexbutton:hover {
  background-color: #555;
}

#poster {
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

#poster:hover {
  opacity: 1;
}

#h1 {
  text-align: center;
  margin: 0 auto;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 40px;
}

#autism {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;

  padding: 100px 50px;
  margin-top: 40px;
  text-align: left;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#autism h1 {
  flex: 1;
  min-width: 300px;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 1.1;
}

#autism h2 {
  flex: 1.5;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  color: #ddd;
}

#autism h2 strong {
  font-weight: 600;
  color: white;
}

a:link {
  color: #d26561;
  text-decoration: none;
}

a:visited {
  color: #d26561;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: #d26561;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  #autism {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 60px 40px;
    max-width: 100%;
  }

  #autism h1 {
    font-size: 3rem;
    width: 100%;
    margin-bottom: 20px;
  }

  #autism h2 {
    width: 100%;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  #title {
    width: 80%;
  }

  #autism {
    padding: 40px 25px;
    gap: 20px;
  }

  #autism h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  #autism h2 {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 480px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  #title {
    width: 90%;
  }

  #autism {
    padding: 30px 20px;
    gap: 15px;
  }

  #autism h1 {
    font-size: 2rem;
  }
}